.text{
    background-color: black;
    color: yellow;
}

.tree_btn{
    height: 300px;
    /*width: 100%;
    border: none;*/
    background-size: contain;
    background-repeat: no-repeat;
}